<footer class="blog-footer">
  <p>PostApp by: <a href="https://github.com/mathmmo">MathMMO</a> Used template: <a href="https://getbootstrap.com/docs/5.2/examples/blog">Bootstrap</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>